.vscode/
__pycache__/
tools/__pycache__/
.caches/
output/

training_set/
train_corpus/

validation_corpus/
validation_set/

corpus_generator/.ipynb_checkpoints/
corpus_generator/train_corpus.txt
corpus_generator/validate_corpus.txt

labels.txt
validation.txt
train.txt